body { background-color: #222;text-align: center}

.boxcontainer {margin: 0 auto;text-align: left; }
.box { width:100px;height:100px;background-color: blue;  float:left;}
.led {height:100%; background:transparent url(../img/img.png) no-repeat;background-size:100% 100%;}